@font-face {
    font-family: "miso";
    src: url("../fonts/miso-bold.ttf") format("truetype");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/TheMix-5-Regular.otf") format("truetype");
}

.title {
    font-family: miso;
    font-size: xx-large;
}

.texte {
    font-family: regular;
    font-size: xx-large;
}

.scrolling {
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
}