<!DOCTYPE html >

<html lang="fr" ng-app="app">

    <head>

        <meta charset="utf-8">
        <title>Mesures Tub'Air</title>
        <link rel="stylesheet" href="css/graphiques.css" type='text/css'>
        <link rel='stylesheet' href='dc.js-develop/dc.css' type='text/css'>
        <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css" type='text/css'>
        <link href="c3-master/c3.css" rel="stylesheet" type="text/css">
        <script src="c3-master/c3.js"></script>
        <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
        <script src='js/jquery-3.1.1.min.js' type='text/javascript'></script>
        <script src="js/bootstrap.js" type='text/javascript'></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="js/Chart.js"></script>
        <script src="js/angular-chart.min.js"></script>
        <script src="js/graphiques.js"></script>

    </head>

    <body ng-controller="LineCtrl" style="background-color: white;">

        <div class="container-fluid" style="background-color: white;">
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div class="jumbotron" style="background-color: #1AB999;">
                        <div id="header" class="row" align="center">
                            <img src="img/tubair.png" height="120px" width="250px"></img>
                        </div>
                    </div>
                    <div class="jumbotron" style="background-color: #1AB999; border-radius: 10px;">
                        <div id="date" class="row" align="center" style="margin-bottom: 2%;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="buttons" ng-click="changePeriod('jour')">
                                        <button ng-if="period != 'jour'" type="button" class="btn btn-default" style="background-color: #65C3AB; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">JOUR</button>
                                        <button ng-if="period == 'jour'" type="button" class="btn btn-default" style="background-color: #20A185; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">JOUR</button>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="buttons" ng-click="changePeriod('mois')">
                                        <button ng-if="period != 'mois'" type="button" class="btn btn-default" style="background-color: #65C3AB; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">MOIS</button>
                                        <button ng-if="period == 'mois'" type="button" class="btn btn-default" style="background-color: #20A185; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">MOIS</button>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="buttons" ng-click="changePeriod('annee')">
                                        <button ng-if="period != 'annee'" type="button" class="btn btn-default" style="background-color: #65C3AB; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">ANNÉE</button>
                                        <button ng-if="period == 'annee'" type="button" class="btn btn-default" style="background-color: #20A185; border: none; height: 100%; width: 100px; color:white; font-family: regular; font-size: x-large;">ANNÉE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="graph" style="width: 80%; margin-left: 10%;">
                            <div ng-show="channel != 'S' && channel != 'A' && noData == false">
                                <canvas id="line" chart-colors="colors" chart-data="data_tmp" chart-labels="labels_tmp" chart-series="series_tmp" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" class="chart chart-line"></canvas>
                            </div>
                            <div ng-show="channel === 'S' || channel === 'A'  && noData == false">
                                <canvas id="line" chart-colors="colorsBis" chart-data="data_tmp" chart-labels="labels_tmp" chart-series="series_tmp" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" class="chart chart-line"></canvas>
                            </div>
                            <div ng-show="noData == true" style="margin-top: 20%; margin-bottom: 19.1%;">
                                <p align="center" style="color: white;">Nous n'avons pas trouvé de données pour cette combinaison utilisateur/polluant/période</p>
                            </div>
                        </div>
                        <div id="channels" align="center" class="row">
                            <div class="col-xs-0 col-sm-1">
                            </div>
                            <div class="col-xs-2">
                                <div class="buttons" ng-click="changeChannel('T')">
                                    <img ng-show="channel != 'T'" src="img/icons/Temperature.png" width="50px" style="background-color: #65C3AB; border-radius: 10px;"></img>
                                    <img ng-show="channel == 'T'" src="img/icons/Temperature.png" width="50px" style="background-color: #20A185; border-radius: 10px;"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="buttons" ng-click="changeChannel('H')">
                                    <img ng-show="channel != 'H'" src="img/icons/Humidite.png" width="50px" style="background-color: #65C3AB; border-radius: 10px;"></img>
                                    <img ng-show="channel == 'H'" src="img/icons/Humidite.png" width="50px" style="background-color: #20A185; border-radius: 10px;"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="buttons" ng-click="changeChannel('CO')">
                                    <img ng-show="channel != 'CO'" src="img/icons/Monoxyde_de_carbone.png" width="50px" style="background-color: #65C3AB; border-radius: 10px;"></img>
                                    <img ng-show="channel == 'CO'" src="img/icons/Monoxyde_de_carbone.png" width="50px" style="background-color: #20A185; border-radius: 10px;"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="buttons" ng-click="changeChannel('S')">
                                    <img ng-show="channel != 'S'" src="img/icons/fumee.png" width="50px" style="background-color: #65C3AB; border-radius: 10px;"></img>
                                    <img ng-show="channel == 'S'" src="img/icons/fumee.png" width="50px" style="background-color: #20A185; border-radius: 10px;"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="buttons" ng-click="changeChannel('A')">
                                    <img ng-show="channel != 'A'" src="img/icons/Alcool.png" width="50px" style="background-color: #65C3AB; border-radius: 10px;"></img>
                                    <img ng-show="channel == 'A'" src="img/icons/Alcool.png" width="50px" style="background-color: #20A185; border-radius: 10px;"></img>
                                </div>
                            </div>
                        </div>
                        <div id="channels-titles" align="center" class="row">
                            <div class="col-xs-0 col-sm-1">
                            </div>
                            <div class="col-xs-2">
                                <div ng-click="changeChannel('T')">
                                    <img src="img/text-icons/temperature_txt.png" width="50px"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div ng-click="changeChannel('H')">
                                    <img src="img/text-icons/humidite_txt.png" width="50px"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div ng-click="changeChannel('CO')">
                                    <img src="img/text-icons/monoxyde_de_carbone_txt.png" width="50px"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div ng-click="changeChannel('S')">
                                    <img src="img/text-icons/fumee_txt.png" width="50px"></img>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div ng-click="changeChannel('A')">
                                    <img src="img/text-icons/alcool_txt.png" width="60px"></img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-3" style="background-color: white;">
                    <div id="title">
                        <p align="center" ng-show="channel === 'T'" class="title" style="color: #1AB999; border-bottom: 5px solid; border-bottom-color: #1AB999;">TEMPÉRATURE</p>
                        <p align="center" ng-show="channel === 'H'" class="title" style="color: #1AB999; border-bottom: 5px solid; border-bottom-color: #1AB999;">HUMIDITE</p>
                        <p align="center" ng-show="channel === 'CO'" class="title" style="color: #1AB999; border-bottom: 5px solid; border-bottom-color: #1AB999;">MONOXYDE DE CARBONE</p>
                        <p align="center" ng-show="channel === 'S'" class="title" style="color: #1AB999; border-bottom: 5px solid; border-bottom-color: #1AB999;">FUMÉE</p>
                        <p align="center" ng-show="channel === 'A'" class="title" style="color: #1AB999; border-bottom: 5px solid; border-bottom-color: #1AB999;">ALCOOL</p>
                    </div>

                    <div id="calendar" class="jumbotron" style="background-color: #1AB999; border-radius: 10px;">
                        <div id="calendar-title">
                            <p align="center" ng-show="period === 'jour'" style="font-family: regular; font-size: x-large; color: white;">SÉLECTEUR DE JOUR :</p>
                            <p align="center" ng-show="period === 'mois'" style="font-family: regular; font-size: x-large; color: white;">SÉLECTEUR DE MOIS :</p>
                            <p align="center" ng-show="period === 'annee'" style="font-family: regular; font-size: x-large; color: white;">SÉLECTEUR D'ANNÉE :</p>
                        </div>

                        <div id="forDay" ng-show="period === 'jour'">
                            <input type="text" id="datepicker" class="datepicker" style="color: #20A185; border-radius: 5px;">
                            <br>
                            <br>
                            <p style="font-family: regular; font-size: medium; color: white;">Vous observez toutes les valeurs mesurées au jour sélectionné (aujourd'hui par défaut)</p>
                        </div>

                        <div id="forMonth" ng-show="period === 'mois'">
                            <form name="month">
                                <input type="text" name="enterMonth" value="" list="monthList" style="color: #20A185; border-radius: 5px;">
                                <datalist name="monthList" id="monthList">
                                    <option value="Janvier">
                                    <option value="Février">
                                    <option value="Mars">
                                    <option value="Avril">
                                    <option value="Mai">
                                    <option value="Juin">
                                    <option value="Juillet">
                                    <option value="Août">
                                    <option value="Septembre">
                                    <option value="Octobre">
                                    <option value="Novembre">
                                    <option value="Décembre">
                                </datalist>
                                <input type="button" name="button" value="Change month" onClick="getMonth(month)" style="color: #20A185; background-color: white; font-family: regular; font-size: medium; border-radius: 5px;">
                            </form>
                            <script language="javascript">
                                function getMonth(month) {
                                    changeMonth(document.month.enterMonth.value);
                                }
                            </script>
                            <br>
                            <p style="font-family: regular; font-size: medium; color: white;">Vous observez les moyennes des valeurs mesurées chaque jour du mois sélectionné (le mois courrant par défaut)</p>
                        </div>

                        <div id="forYear" ng-show="period === 'annee'">
                            <form name="year">
                                <input type="text" name="enterYear" list="yearList" style="color: #20A185; background-color: white; border-radius: 5px;">
                                <datalist name="yearList" id="yearList">
                                    <option value="2016">
                                </datalist>
                                <input type="button" name="button" value="Change year" onclick="getYear(year)" style="color: #20A185; background-color: white; font-family: regular; font-size: medium; border-radius: 5px;">
                            </form>
                            <script language="javascript">
                                function getYear(year) {
                                    changeYear(document.year.enterYear.value);
                                }
                            </script>
                            <br>
                            <p style="font-family: regular; font-size: medium; color: white;">Vous observez les moyennes des valeurs mesurées chaque mois de l'année sélectionnée (l'année courrante par défaut)</p>
                        </div>
                    </div>

                    <div id="users" class="jumbotron" ng-show="period != 'jour'" style=" background-color: #1AB999; border-radius: 10px; color: white; font-family: regular; font-size: medium;">
                        <p style="text-align: center;">Autres utlisateurs :</p>
                        <div id="scrolling" class="scrolling">
                            <ul ng-repeat="n in allUsers track by $index">
                                <table>
                                    <td>
                                        <li ng-show="period != 'jour'"><button style="background-color:{{userColors[$index]}} !important; border-color: white; width: 150px;" ng-click="addUser(n, $index)">{{n}}</button></li>
                                    </td>
                                    <td>
                                        <img style="margin-left: 20%;" ng-if="isUserDisplayed[$index]" src="img/success.png" height="24px" width="24px"></img>
                                        <img style="margin-left: 20%;" ng-if="!isUserDisplayed[$index]" src="img/error.png" height="24px" width="24px"></img>
                                    </td>
                                </table>
                            </ul>
                        </div>
                    </div>

                    <!--<div id="doc" ng-show="period === 'jour' && channel != 'S' && channel != 'A'" class="jumbotron" style="background-color: #1AB999; border-radius: 10px;">
                        <div>
                            <div>
                                <p ng-if="channel === 'T'" style="color: white; font-family: regular; font-size: medium;">-Température conseillée : 20°C</p>
                                <p ng-if="channel === 'H'" style="color: white; font-family: regular; font-size: medium;">-Seuil maximum conseillé : 70%</p>
                                <p ng-if="channel === 'CO'" style="color: white; font-family: regular; font-size: medium;">-entre 0 et 4 ppm : taux idéal
                                    <br>-entre 4 et 9 ppm : taux acceptable
                                    <br>-entre 9 et 12 ppm : danger pour personnes sensibles
                                    <br>-entre 12 et 15 ppm : danger
                                    <br>-supérieur à 15 ppm : critique</p>
                                <p ng-if="channel === 'T'" style="color: white; font-family: regular; font-size: medium;">Depuis quelques années, l’Agence de l’environnement et de la maîtrise de l’énergie (ADEME) revendique l'instauration d'une température de 20° dans les pièces à vivre des maisons et autres appartements</p>
                                <p ng-if="channel === 'H'" style="color: white; font-family: regular; font-size: medium;">D'une manière générale, une humidité relative située entre 30 et 70% recouvre toutes les fourchettes d'humidité conseillées</p>
                                <p ng-if="channel === 'CO'" style="color: white; font-family: regular; font-size: medium;">Le taux acceptable de monoxide de carbone dans votre air intérieur doit être compris entre 0 et 9 ppm</p>
                            </div>
                        </div>
                    </div>-->

                    <div id="legend" class="jumbotron" style="border-radius: 10px; background-color: #1AB999; font-family: regular; font-size: medium;">
                        <table style="margin-bottom: -1%;">
                            <tr ng-if="channel != 'S' && channel != 'A'">
                                <td>
                                    <p ng-if="channel === 'T'" style="color: white;">Moyenne conseillée</p>
                                    <p ng-if="channel === 'H'" style="color: white;">Humidité maximale</p>
                                    <p ng-if="channel === 'CO'" style="color: white;">Seuil extrème</p>
                                </td>
                                <td style="border-top: 3px solid; border-top-color: {{colors[0]}}; height: 5px; width: 80px;">
                                    <span></span>
                                </td>
                            </tr>
                            <tr ng-show="period != 'jour'">
                                <td>
                                    <p style="color: white;">Valeurs minimales</p>
                                </td>
                                <td style="border-top: 3px solid; border-top-color: {{colors[2]}}; height: 5px; width: 80px;">
                                    <span></span>
                                </td>
                            </tr>
                            <tr ng-show="period != 'jour'">
                                <td>
                                    <p style="color: white;">Valeurs maximales</p>
                                </td>
                                <td style="border-top: 3px solid; border-top-color: {{colors[3]}}; height: 5px; width: 80px;">
                                    <span></span>
                                </td>
                            </tr>
                            <tr>
                                <p style="color: white;"> {{nbr_mesure}} mesures</p>
                                <p ng-show="channel === 'T'" style="color: white;"> Moyenne : {{avg_tmp}}</p>
                                <p ng-show="channel === 'H'" style="color: white;"> Moyenne : {{avg_tmp}}</p>
                                <p ng-show="channel === 'CO'" style="color: white;"> Moyenne : {{avg_tmp}}</p>
                                <p ng-show="channel === 'S'" style="color: white;"> Moyenne : {{avg_tmp}}</p>
                                <p ng-show="channel === 'A'" style="color: white;"> Moyenne : {{avg_tmp}}</p>
                                <p ng-show="channel === 'T'" style="color: white;">Dernière mesure : {{last_tmp}}°C</p>
                                <p ng-show="channel === 'H'" style="color: white;">Dernière mesure : {{last_tmp}}%</p>
                                <p ng-show="channel === 'CO'" style="color: white;">Dernière mesure : {{last_tmp}}PPM</p>
                                <p ng-show="channel === 'S'" style="color: white;">Dernière mesure : {{last_tmp}}PPM</p>
                                <p ng-show="channel === 'A'" style="color: white;">Dernière mesure : {{last_tmp}}PPM</p>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>