<!DOCTYPE html>

<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>tubair.tub.bitbucket.org</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/stylish-portfolio.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <script src="js/angular.js"></script>
        <script src="https://app.userapp.io/js/userapp.client.js"></script>
        <script src="https://app.userapp.io/js/angularjs.userapp.js"></script>
        <!--<script src ="js/UserApp.js"></script>
        <script src="js/UserApp.client.js"></script>-->
        <script src="js/myscript.js"></script>
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD96eopu6iLBc8RaoyCav3t0P7pbmxemyY">
        </script>

        <style>
        #map-canvas{
            height:400px;
            width:700px;
        }
        </style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-app="myApp" ng-controller="ctrl">

        <div ng-show="pop" id="pop-up-signup" class="pop-up-signup animated fadeIn">
            <div style="height: 50%; width: 50%; margin-left: 25%;">
                <p align="right"><img ng-click="togglePop()" src="img/close.svg"/></p>
                <p align="center">
                    <!--<a href="https://www.userapp.io/"> <img width="150px" height="50px" src="img/userapp.png"> </a>-->-->
                    <a href="https://github.com/quentinkb/tubair"> <img  width="150px" height="50px" src="img/github.png"> </a>            
                </p>
                <h1 align="center" style="font-weight: bold;">La premi&egrave;re &eacute;tape avant de cr&eacute;er son tub'air!</h1>
                <p align="center">Crée ton compte afin de pouvoir par la suite connecter ton tub'air à nos base de données! ceci ne prendra que quelques secondes!</p>
                <form>
                    <table align="center">
                        <tr class="space">
                            <td><input name="login" ng-model="email" ua-is-email placeholder="Username"></td>
                        </tr>

                        <tr>
                            <td><input name="password" ng-model="password" placeholder="Password" type="password"></td>
                        </tr>

                        <tr>
                            <td><button class="btn btn-dark btn-lg" ng-click="signup()" type="submit">Create account</button></td>
                        </tr>

                        <tr>
                            <td>
                                <p ng-if="signedup"> 
                                    Merci de vous être inscrit, vous pouvez trouver le tutoriel à l'adresse github suivante : <br> 
                                    <a href="https://github.com/quentinkb/tubair"> <img  width="150px" height="50px" src="img/github.png"> </a>  
                                </p>
                                <p ng-if="signup_error">
                                    Une erreur est survenue lors de l'inscription, l'adresse e-mail est peut être déjà utilisée dans nos services.
                                </p>
                                <p style="color:red;" ng-if="!signedup">  
                                    {{error_api}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <!-- Pop-up Bianca -->
        <!--<div id="pop-up-bianca" class="pop-up-bianca animated slideInDown">
            <p align="center"><img src="img/bianca.png" width="180px" height="215px" /> </p>
            <p align="center" class="powered">
                <br>
                Powered by Bianca.js kernel
                <br>
                <br>
                <a href="https://www.npmjs.com/package/bianca-server" class="btn btn-dark btn-lg">D&eacute;couvrir</a>
            </p>
        </div>-->

        <!-- Navigation -->
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                <li class="sidebar-brand">
                    <a href="#top" onclick=$("#menu-close").click();>Tubair</a>
                </li>

                <li>
                    <a href="#top" onclick=$("#menu-close").click();>Accueil</a>
                </li>

                <li>
                    <a href="#about" onclick=$("#menu-close").click();>A propos</a>
                </li>

                <li>
                    <a href="#services" onclick=$("#menu-close").click();>Services</a>
                </li>

                <li>
                    <a href="#portfolio" onclick=$("#menu-close").click();>Partagez vos donn&eacute;es</a>
                </li>

                <li>
                    <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <p class="logInText" ng-show="!user.authenticated">Log in</p>
                <p class="logInText" ng-show="user.authenticated">You're connected as {{ user.first_name }} !</p>
                <form ng-show="!user.authenticated">
                    <input name="login" ng-model="username_log" placeholder="Username" class="logInButton"><br>
                    <input name="password" ng-model = "password_log" placeholder="Password" type="password" class="logInButton"><br>
                    <p><button type="submit" ng-click="login()" class="logIn">Log in</button></p> <!--or <a href="" ua-oauth-link="google">Log in with Google</a>-->
                    <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
                    <p ng-show="error">{{ error_message }}</p>
                </form>
                <p ng-show="user.authenticated"></p>
                <a href="#" ng-show="user.authenticated" ng-click="logout()" class="logOut">Log Out</a>
                <a ng-show="user.authenticated" ng-click="canSeeMeasures()"><button class="btn btn-dark btn-lg">Voir mes donn&eacute;es</button></a>
                <!--<p><a href="#/signup">Sign up</a></p>-->
                <!--<p><a href="#/reset-password">Reset password</a></p>-->
                <h1>tubair.bitbucket.org</h1>
                <h3>Qualité de l'air en intérieur - Open data</h3>
                <br>
                <a href="#about" class="btn btn-dark btn-lg">En savoir plus</a>
                <a ng-click="togglePop()" class="btn btn-dark btn-lg">S'inscrire</a>
            </div>
        </header>

        <!-- About -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">

                    <div class="col-lg-12 text-center">
                        <h2>Données de l'air intérieur capturées par le module tub'air 1.0</h2>
                        <p class="lead">Code source arduino libre bientôt disponible à cette adresse : <a target="_blank" href="#">tubair.bitbucket.org</a>.</p>
                    </div>

                </div><!-- /.row -->

            </div><!-- /.container -->
        </section>

        <!-- Services -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <section id="services" class="services bg-primary">
            <div class="container">

                <div class="row text-center">

                    <div class="col-lg-10 col-lg-offset-1">
                        <h2>Nos Services</h2>
                        <hr class="small">
                        <div class="row">

                            <div class="col-md-3 col-sm-6">

                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Open data</strong>
                                    </h4>
                                    <p>Données libres d'accès grâce à un service cloud gratuit</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">

                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-mobile fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Application mobile</strong>
                                    </h4>
                                    <p>Application mobile multiplateforme bientôt disponible</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">

                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-code-fork fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Do it yourself</strong>
                                    </h4>
                                    <p>Code source prochainement disponible pour construire votre propre module</p>
                                </div>

                            </div>
                            <div class="col-md-3 col-sm-6">

                                <div class="service-item">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Protégez vos données</strong>
                                    </h4>
                                    <p>Vos données vous appartiennent, vous êtes libre de ne pas les partager</p>
                                </div>

                            </div>
                        </div><!-- /.row (nested) -->
                    </div><!-- /.col-lg-10 -->
                    
                </div><!-- /.row -->

            </div><!-- /.container -->
        </section>

        <!-- Callout -->
        <aside class="callout">
            <div class="text-vertical-center">
                <h1>Tub'air v1</h1>
            </div>
        </aside>

        <!-- Portfolio -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="row">

                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <h2>Partagez vos donn&eacute;es</h2>
                        <br>
                        <p align="center">
                            <my-maps id="map-canvas"></my-maps>
                        </p>
                        <br>
                        <div ng-show="!user.authenticated" class="logInText">
                            Vous devez vous connecter avec vos identifiants avant de partager vos donn&eacute;es !
                        </div>
                    </div>

                    <div ng-show="user.authenticated">
                        <button class="buttonPopup" ng-show="!hasShared" ng-click="nearme()">Partager mes donn&eacute;es</button>
                        <br>
                        <br>
                        <p ng-show="!hasShared" class="advice">Veuillez préférer un autre navigateur que Chrome pour le partage</p>
                        <button class="buttonPopup" ng-show="hasShared" nt-click="gpsDelete()">Supprimer mon partage de donn&eacute;es</button>
                    </div>

                </div>

            </div>
        </section>

        <!-- Call to Action -->
        <aside class="call-to-action bg-primary">
            <div class="container">

                <div class="row">

                    <div class="col-lg-12 text-center">
                        <h3>Echantillon sur une journée</h3>
                        <a href="data.xlsx" class="btn btn-lg btn-light">Telechargement</a>
                        <a href="see/see.html" class="btn btn-lg btn-dark">Consulter</a>
                    </div>

                </div>

            </div>
        </aside>

        <!-- Map -->
        <!--<section id="contact" class="map">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
            <br />
            <small>
                <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
            </small>
            </iframe>
        </section>-->

        <!-- Footer -->
        <footer>
            <div class="container">

                <div class="row">

                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        <img src="img/tuba.png" width="100px" height="100px"/>
                        <h4>
                            <strong>tubair.bitbucket.org</strong>
                        </h4>
                        <p>Place Charles Beraudier
                            <br>
                            69003, Lyon, FRANCE
                        </p>
                        <ul class="list-unstyled">
                            
                            <li>
                                <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:tubairproject@gmail.com">tubairproject@gmail.com</a>
                            </li>
                        </ul>
                        <br>
                        <hr class="small">
                        <p class="text-muted">Copyright &copy; tubair.bitbucket.org 2016</p>
                    </div>

                </div>

            </div>
            <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
        </footer>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
        <!-- Custom Theme JavaScript -->
        <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function() {
            $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
        // Disable Google Maps scrolling
        // See http://stackoverflow.com/a/25904582/1607849
        // Disable scroll zooming and bind back the click event
        // var onMapMouseleaveHandler = function(event) {
        //     var that = $(this);
        //     that.on('click', onMapClickHandler);
        //     that.off('mouseleave', onMapMouseleaveHandler);
        //     that.find('iframe').css("pointer-events", "none");
        // }
        // var onMapClickHandler = function(event) {
        //         var that = $(this);
        //         // Disable the click handler until the user leaves the map area
        //         that.off('click', onMapClickHandler);
        //         // Enable scrolling zoom
        //         that.find('iframe').css("pointer-events", "auto");
        //         // Handle the mouse leave event
        //         that.on('mouseleave', onMapMouseleaveHandler);
        //     }
        //     // Enable map zooming with mouse scroll when the user clicks the map
        // $('.map').on('click', onMapClickHandler);
        </script>

    </body>

</html>